QComboBox#cbConfig {
	min-width: 50px;
}
QComboBox#cbConfig QAbstractItemView#cbConfigView {
	padding: 0px 0px 0px 0px;
	min-width: 100px;
	min-height: 40px;
	
}

QComboBox#cbTarget {
	min-width: 100px;
}
QComboBox#cbTarget QAbstractItemView#cbTargetView {
	padding: 0px 0px 0px 0px;
	min-width: 200px;
	min-height: 120px;
}

/*****************************************/
QMainWindow, QMenuBar, QToolBar, QTabWidget, QStatusBar, QTreeView, QListView, QTextEdit, QDialog, QGroupBox, QSpinBox, QToolBox {
	color: #c8c8c8;
	background-color: #3c3f41;
	border: 0px;
}

/*****************************************/
QAbstractScrollArea, QFrame, QWidget {
	padding: 0;
	margin: 0;
}

QAbstractScrollArea{
   background-color: #3c3f41;
   border: none;
}
QWidget{
    color: #b1b1b1;
    background-color: #3c3f41;
}
/*****************************************/
QLabel {
	color: #c8c8c8;
}

/*****************************************/
QGroupBox {
	border: 1px solid gray;
	margin-top: 3ex;
}

QGroupBox::title {
	subcontrol-origin: margin;
	/*subcontrol-position: top left;*/
	/*margin-left: 5px;*/
}
 
/*****************************************/
QSpinBox {
	border: 1px solid gray;
	selection-background-color: #636363;
}

/*****************************************/
QTreeView, QListView, QListWidget, QTextEdit {
	border: 1px solid #313131;
	/*padding: 2px 0px 2px 2px;*/
	/*margin: 1px;*/
}

/*****************************************/
QListView {
	border: 2px solid #313131;
	padding: 2px 0px 2px 2px;
	/*margin: 0;*/
}
QListView::item:selected {
	background: #4B6EAF;
}
QListView::item:alternate {
	border: 1px solid dark;
}
QListView::item:selected:!active {
	color: #c8c8c8;
    background: #0D293E;
}
QListView::item:selected:active {
    background: #4B6EAF;
}
QListView::item:hover {
	background: transparent;
	border: 1px solid #4B6EAF;
}

/*****************************************/
QTreeView::item {
	
}
QTreeView::item:hover {
	background: transparent;
	border: 1px solid #4B6EAF;
}
QTreeView::item:selected {
	background: #4B6EAF;	
}
QTreeView::item:selected:active{
	background: #4B6EAF;
}
QTreeView::item:selected:!active {
	background: #4B6EAF;
	color: #c8c8c8;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
	border-image: none;
	image: url(:/images/tree_close.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
	border-image: none;
	image: url(:/images/tree_open.png);
}
 
/*****************************************/
QMenu {
	background-color: #3c3f41;
	border: 1px solid black;
	color: #c8c8c8;
}
QMenu::item {
	background-color: transparent;
}
QMenu::item:selected {
	background-color: #4B6EAF;
	outline: 0px;
}
QMenu::item:disabled {
	color: #777777;
	background-color: transparent;
}

/*****************************************/
QMenuBar {
	background-color: #3c3f41;
	/*border-bottom: 1px solid #2b2b2b;*/
	padding: 4px 4px 0px 6px;
}
QMenuBar::item {
	spacing: 3px;
	padding: 3px 6px;
	background: transparent;
}
QMenuBar::item:selected {
	background: #4B6EAF;
}
QMenuBar::item:pressed {
	background: #4B6EAF;
}
 
/*****************************************/
QPushButton {
	color: #c8c8c8;
	background-color: #4A4F51;
	border: 1px solid #2b2b2b;
	border-radius: 2px;
	padding: 6px 15px;
	margin: 1px;
}
QPushButton:hover {
	background-color: #414141;
	color: #d8d8d8;
}
QPushButton:pressed {
	margin: 1px 0px 0px 1px;
}
QPushButton:checked {
	background-color: #3c3f41;
}

/*****************************************/
QToolButton {
	color: #c8c8c8;
	background-color: #4A4F51;
	border: 1px solid #595A5A;
	border-radius: 2px;
}
QToolButton:hover {
	border: 1px solid #4B6EAF;
}
QToolButton:pressed {
	padding: 1px 0px 0px 1px;
}
QToolButton:checked {
	border-top: 1px solid dark;
	border-left: 1px solid dark;
}

/*****************************************/
QToolBar {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #404040, stop: 0.5 #313134,
                                 /*stop: 0.75 #313134,*/ stop: 1.0 #313134);

	/*padding: 1px 6px;*/
	border: 1px solid #2b2b2b;
}
QToolBar QToolButton {
	color: #c8c8c8;
	background-color: transparent;
	padding: 0px;
	border: 0px;
}
QToolBar::handle {
	image: url(:/images/toolbar_handle.png);
}
QToolBar::separator {
	image: url(:/images/toolbar_separator.png);
}

/*****************************************/
QToolTip {
	border: 1px solid #9A9A66;
	background-color: #5C5C42;
	padding: 0px 0px 0px 2px;
	margin: 0px;
	border-radius: 2px;
	color: #c8c8c8;
}

/*****************************************/
QCheckBox {
	spacing: 5px;
	color: #c8c8c8;
}
QCheckBox::indicator {
	width: 15px;
	height: 16px;
}
QCheckBox::indicator:unchecked {
	image: url(:/images/chb.png);
}
QCheckBox::indicator:checked {
	image: url(:/images/chb_.png);
}
 
/*****************************************/
QDockWidget {
	color: #c8c8c8;
	background-color: #3c3f41;
	titlebar-close-icon: url(:/images/dock_close.png);
	titlebar-normal-icon: url(:/images/dock_undock.png);
}
QDockWidget::title {
	margin: 4px 0 0 0;
	text-align: center;
	/*background: #313131;*/
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #404040, stop: 0.5 #313134,
                                 /*stop: 0.75 #313134,*/ stop: 1.0 #313134);

	padding: 1px 6px;
	border: 1px solid #2b2b2b;
}
QDockWidget::close-button, QDockWidget::float-button {
	border: 0px solid transparent;
	background: transparent;
	padding: 0px;
	width: 12px;
	height: 12px;
}
QDockWidget::close-button:hover, QDockWidget::float-button:hover {
	background: transparent;
}
QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
	padding: 1px -1px -1px 1px;
}

/*****************************************/
QComboBox {
	border: 1px solid #505050;
	padding: 1px 5px 1px 3px;
	background-color: #2b2b2b;
	color: #c8c8c8;
}
QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 14px;
	border: 0px;
}
QComboBox::down-arrow {
	image: url(:/images/combo.png);
}
QComboBox::down-arrow:on {
	image: url(:/images/combo_sel.png);
}
QComboBox QAbstractItemView {
	padding: 5px 2px 5px 2px;
	background-color: transparent;
	outline: none;
	border: 1px solid #505050;
	color: #c8c8c8;
}

/*****************************************/
QScrollBar:horizontal {
	/*border: 1px solid gray;*/
	background: transparent;
	height: 12px;
	margin: 1px;
}
QScrollBar::handle:horizontal {
	background: #575757;
	min-width: 30px;
	padding: 1px;
	border-radius: 2px;
}
QScrollBar::handle:horizontal:hover, QScrollBar::handle:vertical:hover {
	background: #4B6EA1;
}
QScrollBar::add-line:horizontal {
	/*background: #3c3f41;*/
	width: 0px;
	/*border: 1px solid gray;*/
	subcontrol-position: right;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	/*background: #3c3f41;*/
	width: 0px;
	/*border: 1px solid gray;*/
	subcontrol-position: left;
	subcontrol-origin: margin;
}
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
	width: 0px;
	height: 0px;
	/*background: gray;*/
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal, QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}
QScrollBar:vertical {
	/*border: 1px solid white;*/
	background: transparent;/*#3c3f41;*/
	width: 12px;
	margin: 0;
	padding: 1px;
	/*border-bottom: 1px solid dark;*/
}
QScrollBar::handle:vertical {
	background: #575757;
	min-height: 30px;
	padding: 1px;
	border-radius: 2px;
}
QScrollBar::add-line:vertical {
	height: 0px;
	background: transparent;
}
QScrollBar::sub-line:vertical {
	height: 0px;
	background: transparent;
}
QScrollBar:up-arrow:vertical, QScrollBar::down-arrow:vertical {
	width: 0px;
	height: 0px;
}

/*****************************************/
QStatusBar {
	border-top: 1px solid #2b2b2b;
}
QStatusBar::item {
	border: 0;
}
 
/*****************************************/
QTabWidget  {
	padding: 0;
}
QTabWidget::pane {
	/*padding-top: 2px;*/
	background: #393939;
	border: none;
	margin: 0;
	padding: 0;
}
QTabWidget::tab-bar {
	alignment: left;
}
QTabBar::tab {
	color: #c8c8c8;
	background: #393C3E;
	padding: 2px 5px 5px 5px;
	margin-top: 2px;
	border: 1px solid #2b2b2b;
}
QTabBar::tab:selected {
	background: #313131;
	border-bottom: none;
	margin-top: 0px;
}
QTabBar::scroller {
	width: 20px;
}
QTabBar::close-button {
	image: url(:/images/dock_close.png)
}
QTabBar::close-button:hover {
	image: url(:/images/dock_close_sel.png)
}

/*****************************************/
QLineEdit {
	border: 1px solid #505050;
	padding: 1px 5px 1px 3px;
	background-color: #2b2b2b;
	color: #c8c8c8;
}

/*****************************************/
QPlainTextEdit {
	background: #2b2b2b;
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/*****************************************/
QToolBox::tab {
	color: #c8c8c8;
	background-color: #2b2e30;
	border: 1px solid #2b2b2b;
	/*border-radius: 2px;*/
	padding: 0px 15px;
}
QToolBox::tab:selected {
    font: bold;
}

/*****************************************/
QSlider::groove:horizontal {
    background-color: #4A4F51;
	border: 1px solid #2b2b2b;
    height: 10px;
}

QSlider::handle:horizontal {
    background-color: #4A4F51;
    border: 1px solid #2b2b2b;
    width: 10px;
	height: 18px;
	margin-top: -4px;
}

QFileDialog QHeaderView::section{
	color: #c8c8c8;
	background-color: #2b2e30;
}
