*.cxs linguist-language=cerberus

*.cerberusdoc text eol=lf
*.cxs text eol=lf
*.monkey text eol=lf
*.monkeydocs text eol=lf
*.c text eol=lf
*.cc text eol=lf
*.cxx text eol=lf
*.c++ text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.h++ text eol=lf
*.hh text eol=lf
*.cs text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.df text eol=lf
*.as text eol=lf
*.css text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.xhtml text eol=lf
*.php text eol=lf
*.css text eol=lf
*.java text eol=lf
*.js text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.tld text eol=lf
*.xml text eol=lf
*.ini text eol=lf

# Visual Studio/Windows lf => crlf
*.bat text eol=crlf
*.sln text eof=crlf
*.vcxproj text eof=crlf
*.filters text eof=crlf
*.txt text eof=crlf
*.csproj text eol=crlf
*.ps1 text eol=crlf

# Image files
*.bmp binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary

# Other binrary types
*.pdf binary
*.a binary
*.lib binary

# Compression
*.gz binary
*.zip binary
*.jar binary


.gitattributes text eol=lf
.gitignore text eol=lf
.gitconfig text eol=lf

*.so binary
*.dll binary


