/bin/*
!/bin/*.txt
!/bin/themes
!/bin/icons
!/bin/templates
!/bin/data
!/bin/internal
!/bin/external
!/bin/macdeploy*.command
/mingw*
/MinGW*
/tdm*
/TDM*


.bmx
.DS_Store
._.DS_Store
._*
*.buildv*
*.bak
desktop.ini
Thumbs.db

/Cerberus
/Cerberus.app
/Cerberus.exe

/docs/html

/modules/brl/native/GoogleAdMobAdsSdkiOS-6.8.0
/modules/brl/native/GoogleAdMobAdsSdk-6.4.1.jar

!/src/rebuildall*
/src/createrelease
/src/ted-build-*
/src/build-ted-*
/src/ted/ted.pro.user*

/targets/__deprecated__/android_ndk

/src/launcher/codeblocks/obj
/src/launcher/codeblocks/launcher.depend
/src/launcher/codeblocks/launcher.layout

/src/transcc/transcc.build/cpptool/main_winnt.exe
/src/transcc/transcc.build/cpptool/main_linux
/src/transcc/transcc.build/cpptool/main_macos

/src/builders/images/svg/*.svg
/src/builders/bash/temp/*

.vscode
*.code-workspace
*.desktop
