<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cxs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Cerberus source file</string>
			<key>CFBundleTypeIconFile</key>
			<string>cerberus</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Cerberus</string>
	<key>CFBundleIconFile</key>
	<string>cerberus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
