QComboBox#cbConfig {
	min-width: 50px;
}
QComboBox#cbConfig QAbstractItemView#cbConfigView {
	padding: 0px 0px 0px 0px;
	min-width: 100px;
	min-height: 40px;
	
}

QComboBox#cbTarget {
	min-width: 100px;
}
QComboBox#cbTarget QAbstractItemView#cbTargetView {
	padding: 0px 0px 0px 0px;
	min-width: 200px;
	min-height: 120px;
}

/*****************************************/
QMainWindow, QMenuBar, QToolBar, QTabWidget, QStatusBar, QTreeView, QListView, QTextEdit, QDialog, QGroupBox, QSpinBox, QToolBox {
	background-color: #ECECEC;
	border: 0px;
}

/*****************************************/
QAbstractScrollArea, QFrame, QWidget {
	padding: 0;
	margin: 0;
}

QAbstractScrollArea{
	background-color: #ECECEC;
	border: none;
}
QWidget{
	color: #666666;
	background-color: #ECECEC;
}
/*****************************************/
QLabel {
	color: #666666;
}

/*****************************************/
QGroupBox {
	border: 1px solid gray;
	margin-top: 3ex;
}

QGroupBox::title {
	subcontrol-origin: margin;
}
 
/*****************************************/
QSpinBox {
	border: 1px solid gray;
	selection-background-color: #636363;
}

/*****************************************/
QTreeView, QListView, QListWidget, QTextEdit {
	border: 0px;
}

/*****************************************/
QListView {
	border: 2px solid #FFFFFF;
	padding: 2px 0px 2px 2px;
}
QListView::item:selected {
	background: #4B6EAF;
}
QListView::item:alternate {
	border: 1px solid dark;
}
QListView::item:selected:!active {
	color: #666666;
	background: #0D293E;
}
QListView::item:selected:active {
	background: #4B6EAF;
}
QListView::item:hover {
	background: transparent;
	border: 1px solid #4B6EAF;
}

/*****************************************/
QTreeView {
	background: #FFFFFF;
}
QTreeView::item {
	
}
QTreeView::item:hover {
	background: #11FFFFFF;
}
QTreeView::item:selected {
	background: #91B8D7;
}
QTreeView::item:selected:active{
	background: #91B8D7;
}
QTreeView::item:selected:!active {
	background: #91B8D7;
	color: #666666;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
	border-image: none;
	image: url(:/images/tree_close.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
	border-image: none;
	image: url(:/images/tree_open.png);
}
 
/*****************************************/
QMenu {
	background-color: #ECECEC;
	border: 1px solid #CCCCCC;
	color: #333333;
}
QMenu::separator {
	height: 1px;
	margin: 2px 5px 2px 4px;
	border: none;
	background: #CCCCCC;
}
QMenu::item {
	background-color: transparent;
}
QMenu::item:selected {
	background-color: #91B8D7;
	outline: 0px;
}
QMenu::item:disabled {
	color: #88777777;
	background-color: transparent;
}

/*****************************************/
QMenuBar {
	/* text-transform: uppercase; */
	background-color: #ECECEC;
	padding: 4px 4px 0px 6px;
}
QMenuBar::item {
	spacing: 3px;
	padding: 3px 6px;
	background: transparent;
	color: #333333;
}
QMenuBar::item:selected {
	background: #22000000;
}
QMenuBar::item:pressed {
	background: #CCCCCC;
}
 
/*****************************************/
QPushButton {
	color: #333333;
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	border-radius: 2px;
	padding: 6px 15px;
	margin: 1px;
}
QPushButton:hover {
	background-color: #91B8D7;
	color: #333333;
}
QPushButton:pressed {
	padding: 1px 0px 0px 1px;
}
QPushButton:checked {
	background-color: #ECECEC;
}

/*****************************************/
QToolButton {
	color: #333333;
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	border-radius: 2px;
}
QToolButton:hover {
	background-color: #22000000;
}
QToolButton:pressed {
	padding: 1px 0px 0px 1px;
}
QToolButton:checked {
	border-top: 1px solid dark;
	border-left: 1px solid dark;
}

/*****************************************/
QToolBar {
	background-color: #ECECEC;
	border: 0px;
}
QToolBar QToolButton {
	color: #666666;
	background-color: transparent;
	padding: 0px;
	border: 0px;
}
QToolBar QToolButton:first {
	background-color: #FF00FF;
}
QToolBar::handle {
	image: url(:/images/toolbar_handle.png);
}
QToolBar::separator {
	image: url(:/images/toolbar_separator.png);
}

/*****************************************/
QToolTip {
	border: 0px;
	background-color: #338ec2;
	padding: 2px 2px 2px 4px;
	margin: 0px;
	border-radius: 2px;
	color: #FFFFFF;
}

/*****************************************/
QCheckBox {
	spacing: 5px;
	color: #666666;
}
QCheckBox::indicator {
	width: 15px;
	height: 16px;
}
QCheckBox::indicator:unchecked {
	image: url(:/images/chb.png);
}
QCheckBox::indicator:checked {
	image: url(:/images/chb_.png);
}
 
/*****************************************/
QDockWidget {
	color: #666666;
	background-color: #ECECEC;
	titlebar-close-icon: url(:/images/dock_close.png);
	titlebar-normal-icon: url(:/images/dock_undock.png);
}
QDockWidget::title {
	margin: 4px 0 0 0;
	text-align: left;
	padding: 1px 6px;
	border: 1px solid #B6B6B6;
	background-color: #D7D7D7;
}
QDockWidget::title:hover {
}

QDockWidget::close-button, QDockWidget::float-button {
	border: 0px;
	background: transparent;
	padding: 0px;
	width: 12px;
	height: 12px;
}
QDockWidget::close-button:hover, QDockWidget::float-button:hover {
	background: transparent;
}
QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
	padding: 1px -1px -1px 1px;
}

/*****************************************/
QComboBox {
	border: 1px solid #AAAAAA;
	padding: 1px 5px 1px 3px;
	background-color: #FFFFFF;
	color: #333333;
	margin-left: 4px;
}
QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 14px;
	border: 0px;
}
QComboBox::down-arrow {
	image: url(:/images/combo.png);
}
QComboBox::down-arrow:on {
	image: url(:/images/combo_sel.png);
}
QComboBox QAbstractItemView {
	padding: 0px -1px -2px 0px;
	background-color: transparent;
	outline: none;
	border: 0px;
	color: #666666;
}
QComboBox::item {
	background-color: #FFFFFF;
}
QComboBox::item:selected {
	background-color: #91B8D7;
}
/*****************************************/
QScrollBar:horizontal {
	background: transparent;
	height: 12px;
	margin: 1px;
}
QScrollBar::handle:horizontal {
	background: #BBBBBB;
	min-width: 30px;
	padding: 1px;
}
QScrollBar::handle:horizontal:hover, QScrollBar::handle:vertical:hover {
	background: #91B8D7;
}
QScrollBar::add-line:horizontal {
	width: 0px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	width: 0px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
	width: 0px;
	height: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal, QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}
QScrollBar:vertical {
	background: transparent;
	width: 12px;
	margin: 0;
	padding: 1px;
}
QScrollBar::handle:vertical {
	background: #BBBBBB;
	min-height: 30px;
	padding: 1px;
}
QScrollBar::add-line:vertical {
	height: 0px;
	background: transparent;
}
QScrollBar::sub-line:vertical {
	height: 0px;
	background: transparent;
}
QScrollBar:up-arrow:vertical, QScrollBar::down-arrow:vertical {
	width: 0px;
	height: 0px;
}

/*****************************************/
QStatusBar {
	border-top: 0px;
}
QStatusBar::item {
	border: 0;
}
 
/*****************************************/
QTabWidget  {
	padding: 0;
}
QTabWidget::pane {
	background: #393939;
	border: none;
	margin: 0;
	padding: 0;
}
QTabWidget::tab-bar {
	alignment: left;
}
QTabBar::tab {
	color: #666666;
	background: transparent;
	padding: 2px 5px 5px 12px;
	margin-top: 2px;
	border: 0px;
	padding-left: 12px;
}
QTabBar::tab:selected {
	background: #FFFFFF;
	border-bottom: none;
	margin-top: 0px;
	color: #333333;
	border-left:2px solid #58BFFC;
	padding-left: 10px;
}
QTabBar::scroller {
	width: 20px;
}
QTabBar::close-button {
	image: url(:/images/dock_close.png)
}
QTabBar::close-button:hover {
	image: url(:/images/dock_close_sel.png)
}

/*****************************************/
QLineEdit {
	border: 1px solid #AAAAAA;
	padding: 1px 5px 1px 3px;
	background-color: #FFFFFF;
	color: #666666;
}

/*****************************************/
QPlainTextEdit {
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/*****************************************/
QToolBox::tab {
	color: #666666;
	background-color: #DBDBDB;
	border: 1px solid #FFFFFF;
	padding: 0px 15px;
}
QToolBox::tab:selected {
	font: bold;
}

/*****************************************/
QSlider::groove:horizontal {
	background-color: #4A4F51;
	border: 1px solid #FFFFFF;
	height: 10px;
}

QSlider::handle:horizontal {
	background-color: #4A4F51;
	border: 1px solid #FFFFFF;
	width: 10px;
	height: 18px;
	margin-top: -4px;
}

QFileDialog QHeaderView::section{
	color: #666666;
	background-color: #DBDBDB;
}